Button{
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    margin-left: 25% !important;

    width:50% !important;
    color: white !important;
    background: black !important;
    border-radius: 50px !important;
}


Label{
}

